/*
#box{
  width: 100px;
  height: 100px;
  background: rebeccapurple;
  p{
    font-size: 20px;
  }
}*/
/*
less中的变量是@符号
less 中声明的变量，在作用域下有变量提升的效果
less 中引用的图片
*/
#box {
  color: #ff0000;
  background: url('../img/24.png');
  width: 100px;
  height: 200px;
}
#box p {
  color: #ff0000;
}
