<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model.lazy='text'>{{text}}
        <input type="number" v-model.number='num'>{{num}}
        <select v-model='newArr' multiple>
            <option value="" disabled>请选择</option>
            <option :value="o" v-for="o in options">{{o}}</option>
        </select>{{newArr}}
    </div>
    <!--  -->
</body>

</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            newArr: [],
            num: 5,
            text: 'yuinji',
            options: ['吃', '喝', '拉', '撒'],
        },
    })
</script>