<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="container">
        <table class="table table-bordered">
            <caption>
                <h3 class="text-center text-info">购物车</h3>
            </caption>
            <tr>
                <th class="text-center">全选 <input type="checkbox" v-model='selectAll'></th>
                <th class="text-center">商品名称</th>
                <th class="text-center">商品数量</th>
                <th class="text-center">商品个数</th>
                <th class="text-center">商品小鸡</th>
                <th class="text-center">操作</th>
            </tr>
            <tr v-for='l in productLists'>
                <th><input type="checkbox" v-model='l.isChecked'></th>
                <th>{{l.productName}}</th>
                <th>{{l.productPrice}}</th>
                <th><input type="text" v-model='l.productCount'></th>
                <th>{{l.productPrice*l.productCount}}</th>
                <th><button class="btn btn-danger" @click='remove(l)'>删除</button></th>
            </tr>
            <tr>
                <td colspan="6">总价：{{total}}</td>
            </tr>
        </table>
    </div>

</body>

</html>
<!-- axios 服务端和前端都能用 基于promise -->
<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            productLists: [], //默认商品列表为空数组
        },
        mounted() {
let lists = JSON.parse( localStorage.getItem(this.productLists));
            if (lists) {
                this.productLists = lists;
            } else {
                axios.get('./cart.json').then((res) => {
                    console.log(res);
                    this.productLists = res.data
                });
            }
        },
        watch: {
            productLists: {
                handler() {
                    localStorage.setItem('lists', JSON.stringify(this.productLists));
                    console.log(this.productLists);

                },
                deep: true //深监控数据变化
            }
        },
        methods: {
            remove(current) {
                let flag = window.confirm('确定删除吗')
                if (flag) {
                    this.productLists = this.productLists.filter(l => current != l)
                }
            }
        },
        computed: {
            total() { //只有get
                return this.productLists.reduce((prev, next, currenIndex, arr) => {
                    return next.isChecked ? prev + next.productPrice * next.productCount : prev
                }, 0)
            },
            selectAll: {
                get() {
                    return this.productLists.every(l => l.isChecked);
                },
                set(flag) {
                    this.productLists.forEach(l => l.isChecked = flag);
                }
            }
        }
    })
</script>